@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-imperator: "Imperator", serif;
  --font-josefin: "Josefin Sans", sans-serif;
  --font-jost: "Jost", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --color-dark: #1a1a1a;
}

/* Local Fonts */
@font-face {
  font-family: 'Imperator';
  src: url('/assets/fonts/imperator/Imperator.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Imperator';
  src: url('/assets/fonts/imperator/Imperator_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/assets/fonts/josefin-sans/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/assets/fonts/josefin-sans/JosefinSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/assets/fonts/josefin-sans/JosefinSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@layer base {
  :root {
    font-family: var(--font-josefin);
    line-height: 1.5;
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-imperator;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    @apply bg-white text-dark;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}